$VLGrey: hsl(0, 0%, 98%);
$VLGrayish-Blue: hsl(236, 33%, 92%);
$LLGrayish-Blue: hsl(233, 11%, 84%);
$LDGrayish-Blue: hsl(236, 9%, 61%);
$LVDGrayish-Blue: hsl(235, 19%, 35%);
// dark mode 

$Very-Dark-Blue: hsl(235, 21%, 11%);
$VDark-Desaturated-Blue: hsl(235, 24%, 19%);
// $DLGrayish-Blue: hsl(234, 39%, 85%);
$DLGrayish-Blue: hsl(236, 33%, 92%);
$DGrayish-Blue: hsl(234, 11%, 52%);
$DLVDark-Grayish-Blue: hsl(233, 14%, 35%);
$DVDark-Grayish-Blue: hsl(237, 14%, 26%);

// spacing 
$base-padding:0.75rem;
$base-margin:0.75rem;
//borders
$bt:1px;//border thickness
$br:10px;//border radius